<% provide(:title, "Home") %>
<div class="center jumbotron">
  <h1>Welcome to my playground</h1>
  <h2><%= link_to "Who am I?", about_path %></h2>
</div>
<ul class="posts">
    <%= render @posts %>
</ul>

<%= will_paginate @posts %>
